*{
	padding: 0px;
	margin: 0px;
}

//Variables Bg-Color

$bg-success: #32a836;
$bg-warning: orange;
$bg-danger: #910707;
$bg-light: #F9EFEF;
$bg-sky: #090992;


//Display

$inline-block: inline-block;
$block: block;
$grid: grid;
$table: table;
$table-cell: table-cell;
$table-row: table-row;
$flex: flex;
$inline-flex: inline-flex;

// //Colores de Textos

$success: green;
$warning: orange;
$danger: #B00713;
$light: #F9EFEF;
$dark: #000000;
$sky: #090992;

 
 
 
 
 
 