//Titulo
h1{
	font-family: $fontTitule;
	font-size: $fontSizeXL;
	text-align: $fontCenterXL;
	color: $light;

}

//Antetítulo
h2{
	font-family: $fontSecond;
	font-size: $fontSizeL;
	text-align: $fontCenterL;
	color: $sky;
}

//SubTitulo
h3{
	font-family: $fontThree;
	font-size: $fontSizeM;
	text-align: $fontLeftM;
	color: $light;
}

h4{
	font-family: $fontThree;
	font-size: $fontSizeS;
	color: $light;

}

//Texto
p{
	font-family: $fontText;
	font-size: $fontSizeS;

}

//Formulario
form{ 

	label{

	font-family: $fontForm;
	font-size: $fontSizeForm;
	text-align: $fontRight;
	color:$light;
	display: $flex;
	font-variant: $fw-bold;

	}
}

fieldset label{

    font-family: $fontForm;
    border:4px;
    border-radius:3px;
    display:$inline-block;
}

legend{

	padding: 10px;
    margin: 10px;
    font-size: $fontSizeL;
    font-family: $fontThree;
	color:$light;
	text-align: $fontCenter;
	font-variant: $fw-bold;

}

header p{
		
	color:$light;
	font-family: $fontText;
	font-size: $fontSizeS;

}

nav ol li a{
    color: $light;
    font-size: $fontSizeS;
    text-decoration: none;
    font-family: $fontNav;
    text-transform: uppercase;
    background: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}

a:hover, a:focus{
    background-size: 100% 2px;
    color: $dark;
    }

div ul li a{

	color: $dark;
	text-decoration: none;
	font-family: $fontNav;
	font-size: $fontSizeNav;

}

div {

}
	h3{
		font-family: $fontText2;
	 	color:$light;
	}

		p{
			
}

h3{
	button{
			margin: 10px;
			padding: 10px;
	}
}