@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

//Barra de Navegación
$fontNav:'Bebas Neue', cursive, sans-serif;
$fontSizeNav:25px;

//Titulo
$fontTitule:'Oswald', sans-serif;
$fontSizeXL:35px;
$fontCenterXL: center;
$fontRightXL: right;
$fontLeftXL: left;

//Antetítulo
$fontSecond:'Merriweather Sans', sans-serif;
$fontSizeL:30px;
$fontCenterL: center;
$fontRightL: right;
$fontLeftL: left;

//SubTitulo
$fontThree:'Fira Sans Extra Condensed', sans-serif;
$fontSizeM: 20px;
$fontCenterM: center;
$fontRightM: right;
$fontLeftM: left;

//Texto
$fontText:'Montserrat', sans-serif;
$fontText2: 'Staatliches', cursive;
$fontSizeS: 18px;

//Formulario
$fontForm:'Tajawal', sans-serif;
$fontSizeForm: 20px;
$fontCenter: center;
$fontRight: right;
$fontLeft: left;

//Tipos de Letras

$fw-bold: bold;







