nav img{
    width: 140px;
}

nav{
    background-color:$bg-danger;
    ul{

        li{

            a{
                font-family: $fontNav;
                font-size: $fontSizeNav;


            }
        }
    }

}
